 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/_AMO2854.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 902px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  font-family: Kanit;
  font-weight: bold;
  margin: 278px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 22px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-family: Kanit;
  margin: 179px auto 0;
}

.u-section-1 .u-list-1 {
  width: 941px;
  margin: 11px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 91px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  font-family: Kanit;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  font-family: Kanit;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-family: Kanit;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-family: Kanit;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  width: 614px;
  font-family: Kanit;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 320px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 48.66% 100%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 244px;
    margin-right: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 182px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-btn-1 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 23px 40px 55px 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 217px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 49.16% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 159px;
    margin-right: -17px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 116px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 48px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 761px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-family: Kanit;
  font-weight: bold;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 342px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  width: 323px;
  font-family: Kanit;
  font-style: italic;
  margin: 50px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  font-family: Kanit;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-image-1 {
    height: 275px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    height: 241px;
  }

  .u-section-2 .u-text-2 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 11px 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 348px;
    margin-top: 39px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 247px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 946px;
}

.u-section-3 .u-image-1 {
  height: 551px;
  width: 935px;
  object-position: 0% 50%;
  margin: 88px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 993px;
  margin: -189px -469px 42px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 504px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-family: Kanit;
  margin: 48px 0 0;
}

.u-section-3 .u-text-2 {
  font-family: Kanit;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Kanit;
  background-image: none;
  margin: 12px auto 0 0;
  padding: 13px 46px 15px 45px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 102px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 402px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 526px;
    width: 848px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 876px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 663px;
    margin-top: -62px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-3 .u-image-1 {
    height: 335px;
    width: 540px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 460px;
    margin-top: 44px;
    margin-right: 13px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 1049px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3 .u-image-1 {
    height: 211px;
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 497px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 359px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 726px;
}

.u-section-4 .u-text-1 {
  line-height: 43px;
  width: 740px;
  font-family: Kanit;
  font-weight: bold;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 2px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  width: 740px;
  font-family: Kanit;
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-video-1 {
  width: 740px;
  height: 387px;
  margin: 30px auto 60px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 47px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
  }
}.u-block-3201-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3201-3 {
  position: absolute;
  left: 0;
}

.u-block-3201-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/_AMO2854.jpg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-5-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/_AMO2825.jpg");
  background-position: 50% 50%;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-5-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/_1300086.JPG");
  background-position: 50% 50%;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-5-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/_AMO2854.jpg");
  background-position: 50% 50%;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-5-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/image16.png");
  background-position: 50% 50%;
}

.u-section-5-5 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 350px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 667px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/_ASC0441.jpg");
  min-height: 541px;
  background-position: 50% 15.7%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-6 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: Kanit;
  margin: 103px -10px 0 70px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-family: Kanit;
  margin: 12px -10px 0 70px;
}

.u-section-6 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 268px;
  min-width: 164px;
  white-space: nowrap;
  margin: 70px 111px 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 0;
}

.u-section-6 .u-icon-4 {
  height: 0;
}

.u-section-6 .u-icon-5 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-6 .u-image-1 {
    min-height: 446px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: -14px;
    margin-left: 14px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 14px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 36px;
    margin-right: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-6 .u-image-1 {
    min-height: 425px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    width: 269px;
    margin-top: 27px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-6 .u-image-1 {
    min-height: 512px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-6 .u-image-1 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 408px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 58px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 8px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 45px;
  }
}